/***** general *****/

body {
    font-family: "Century Gothic", arial, sans-serif;
    background-color: #000000;
    width: 99%;
    height: 99%;
    overflow: hidden;
    text-align: center;
}

/* STARTBOX*/

#startBox{
  position: fixed;
  top:2%;
  left:2%;
  z-index: 100;
  width: 96%;
  height: 96%;
  border-radius: 50px;
  font-size: 3vh;
  color: black;
  margin: auto;
  background: linear-gradient(rgb(127, 255, 249), rgb(62, 122, 119));
  cursor: pointer;
}
.goneAnim{
  animation: goneAnim 250ms ease-in;
}
.stayHidden{
  visibility: hidden;z-index: -100;
}

@keyframes goneAnim{
  0%{background: blue}
  20%{background: blueviolet}
  40%{background: chartreuse;width: 96%;height: 96%;font-size: 3vh;top:2%;left:2%;}
  60%{background: crimson}
  80%{background: darkkhaki;}
  100%{background: darkturquoise; width: 0;height: 0;font-size: 0;top:49%;left:49%;}
}

/***** top *****/

#topBar{
  width: 1900px;
  height: 20px;
  background: linear-gradient(to bottom, #45A29E 5%, rgb(56, 133, 129) 100%);
  color: white;
  display: flex;
}

.hpBarContainer{
  height: 18px;
  margin-top:20px;
  z-index: 2;
  border: 1px solid black;
  border-radius: 2px;
  background-color: black;
  color: white;
  font-size: 12px;
  width: 598px;
}
.hpBar{
  height: 16px;
  width: 100px;
  z-index: 3;
  position: absolute;
  box-shadow:inset 0px 1px 0px 0px #03a118;
  background:linear-gradient(to bottom, #13e200 5%, #00a10d 100%);
  background-color:#11ce00;
  border-radius:3px;
  border:1px solid #0a7700;
}
.hpBarText{
  position: relative;
  z-index: 4;
  top: -17px;
  color:#ffffff;
  font-family:Arial;
  font-size: 17px;
}

#topMid{
  width: 700px;
}

#autoFightBlink{
  position: absolute;
  right: 890px;
  top: 250px;
  font-size: 20px;
  color: yellow;
  animation: 1s linear infinite autoFightBlinking;
  visibility: hidden;
}

@keyframes autoFightBlinking{
  0%{color: yellow;}
  50%{color: red;}
  100%{color: yellow;}
}

/***** Mid, fighter og text *****/

#gameWindow {
    /*border: 1px solid #05386B;*/
    width: 1900px;
    height: 48vh;
    background: radial-gradient(circle at center, #1F2833 0%,rgb(44, 57, 73) 50%,rgb(31, 40, 51) 100%);
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    border: solid #45A29E;
    border-width: 0px 0px 2px 0px;
}

.fighterPlace{ 
  color:white;
  width: 600px;
  height: auto;
  background-color: #1F2833;
  display: flex;
}
.fighterPlaceText{
  margin: auto;
}

#textWin{
    width: 700px;
    height: auto;
    text-align: center;
    color: white;
    overflow: hidden;
}

/***** Downwin *****/
/***** general *****/

h4{
  font-size: 19px;
  width: 250px;
  height: 20px;
  color: #66FCF1;
  margin-top: 10px;
}

#downWin{
    width: 1900px;
    height: 44.5vh;
    /*border: #05386B 1px solid;*/
    display: flex;
    flex-wrap: wrap;
    background-color: #1F2833;
}

/***** downleft *****/

.stats{
  width: 125px;
  height: 38vh;
  margin-top: 0px;
}

.statsHolder{
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    color: #66FCF1;
    text-align: center;
}
#stats1left{
  text-align: left;
}
#stats1right{
  text-align: right;
}

/***** items *****/

.fill {
  position: relative;
  height: 46px;
  width: 46px;
  top: 2px;
  left: 2px;
  border-radius: 3px;
  cursor: pointer;
}

.hold {border: solid 5px #715B64;}

.hovered {background: rgb(148, 194, 148);border-style: dashed;}

.itemFrame{
  display: inline-block;
  background-color: #45A29E;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  margin: 5px;
}

.invisible{
  visibility: hidden;
}
/***** midDown *****/

#midDown{
  width: 896px;
  border: #45A29E solid;
  border-width: 0px 2px 0px 2px;
}
#buttons{
  height: 38.5vh;
  overflow-y: auto;
  overflow-x: hidden;
}
#buttons::-webkit-scrollbar{
  width: 6px;
	background-color: #1F2833;
}
#buttons::-webkit-scrollbar-thumb {
  background-color: #66FCF1;
}

#buttonsMenu{
  height: 50px;
  justify-content: space-around;
  border: #45A29E solid;
  color: #66FCF1;
  border-width: 0px 0px 2px 0px;
  display: flex;
}

.menuChange{
  font-size: 16px;
  flex-grow: 1;
  text-align: bottom;
  transition: color 0.3s, font-size 0.3s;
  line-height: 50px;
  text-decoration: bold;
  text-shadow: 1px 1px rgb(42, 56, 47);;
}
.menuChange:hover{
  color: rgb(172, 255, 249);
  font-size: 18px;
  cursor: pointer;
}

/***** buttons *****/

.buttonify {
	background-color:#45A29E;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:7px 59px;
	text-decoration:none;
  text-shadow:0px 1px 0px #202020;
  transition: 0.5s;
  margin: 5px;
  transition: background-color 0.15s;
  animation: popIn 0.25s ease-in;
}
@keyframes popIn{
  0%{padding: 0px 0px; font-size: 0px;}
  75%{padding: 9px 70px; font-size: 20px;}
  100%{padding:7px 59px; font-size: 15px;}
}

.buttonify:hover {
	background-color:rgb(84, 194, 188);
}

.buttonify:active {
	position:relative;
  top:1px;
  background-color: rgb(146, 44, 44);
}

/***** buttons popup *****/

.popup {
    position: relative;
    display: inline-block;
    user-select: none;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
  }
  /* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    height: auto;
    background-color: #555;
    color: #fff;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    animation: fadeIn 2s;
  }

  @keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
  }

/***** downright *****/

#enemyStats{
  width: 500px;
}

/***** xp bar *****/

  #xpContainer{
    width: 1900px;
    height: 15px;
    border: 1px solid #45A29E;
    background-color: black;
    color: white;
    font-size: 12px;
  }

  #xpBar{
    height: 13px;
    width: 100px;
    position: absolute;
    box-shadow:inset 0px 1px 0px 0px #ab29e7;
    background:linear-gradient(to bottom, #850cd6 5%, #5c0280 100%);
    background-color:#560068;
    border-radius:3px;
    border:1px solid #310044;
  }

  #xpBarText{
    position: relative;
    top: -14px;
    color:#ffffff;
    font-family:Arial;
    font-size: 14px;
    text-shadow:0px 1px 0px #3c004e;
  }

  /***** global xp bar *****/

  #globalXpContainer{
    width: 1900px;
    height: 15px;
    border: 1px solid #45A29E;
    background-color: black;
    color: white;
    font-size: 12px;
  }

  #globalXpBar{
    height: 13px;
    width: 100px;
    position: absolute;
    box-shadow:inset 0px 1px 0px 0px rgb(91, 230, 220);
    background:linear-gradient(to bottom, #66FCF1 5%, #45A29E 100%);
    background-color:rgb(94, 206, 200);
    border-radius:3px;
    border:1px solid #310044;
  }

  #globalXpBarText{
    position: relative;
    top: -14px;
    color:#ffffff;
    font-family:Arial;
    font-size: 14px;
    text-shadow:0px 1px 0px rgb(41, 99, 97);
  }

  @keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
  }